.modules {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background-color: var(--docusaurus-highlighted-code-line-bg);
  }
  
  .moduleSvg {
    height: 200px;
    width: 200px;
  }
  
  .moduleButton {
    margin-top: 1rem;
  }