<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="realsense_d435" params="parent_link:=base_link *origin">
    <link name="camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://realsense_description/meshes/d435.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://realsense_description/meshes/d435.dae"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.07"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
      </inertial>
    </link>

    <joint name="camera_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="camera_link"/>
    </joint>

    <gazebo reference="camera_link">
      <material>Gazebo/Grey</material>
      <sensor name="depth_camera" type="depth">
        <visualize>true</visualize>
        <camera>
          <horizontal_fov>1.089</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3.5</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_depth_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <cameraName>d435</cameraName>
          <frameName>camera_link</frameName>
          <pointCloudCutoff>0.1</pointCloudCutoff>
          <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0.0</CxPrime>
          <CyPrime>0.0</CyPrime>
          <fx>0.0</fx>
          <fy>0.0</fy>
          <hackBaseline>0.0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
