<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="imu_sensor" params="parent_link:=base_link *origin">
    <link name="imu_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="red"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
      </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="imu_link"/>
    </joint>

    <gazebo reference="imu_link">
      <material>Gazebo/Red</material>
      <sensor name="imu_sensor" type="imu">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <imu>
          <angular_velocity>
            <x>0.0002</x>
            <y>0.0002</y>
            <z>0.0002</z>
          </angular_velocity>
          <linear_acceleration>
            <x>0.017</x>
            <y>0.017</y>
            <z>0.017</z>
          </linear_acceleration>
          <angular_velocity_no_noise>
            <x>0.0001</x>
            <y>0.0001</y>
            <z>0.0001</z>
          </angular_velocity_no_noise>
          <linear_acceleration_no_noise>
            <x>0.008</x>
            <y>0.008</y>
            <z>0.008</z>
          </linear_acceleration_no_noise>
        </imu>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
          <ros>
            <namespace>/imu</namespace>
            <remapping>~/out:=data</remapping>
          </ros>
          <initialOrientationAsReference>false</initialOrientationAsReference>
          <frameName>imu_link</frameName>
          <topicName>imu_data</topicName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
