<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="velodyne_vlp16" params="parent_link:=base_link *origin">
    <link name="velodyne_base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP-16_base.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP-16_base.dae"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.8"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <link name="velodyne_laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP-16_laser.dae"/>
        </geometry>
      </visual>
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
      </inertial>
    </link>

    <joint name="velodyne_base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="velodyne_base_link"/>
    </joint>

    <joint name="velodyne_h_cover_joint" type="fixed">
      <origin xyz="0 0 0.015" rpy="0 0 0"/>
      <parent link="velodyne_base_link"/>
      <child link="velodyne_laser"/>
    </joint>

    <gazebo reference="velodyne_base_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="velodyne_laser">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="velodyne_h_cover_joint">
      <sensor type="ray" name="velodyne_lidar">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
            <vertical>
              <samples>16</samples>
              <resolution>1</resolution>
              <min_angle>-0.26</min_angle>
              <max_angle>0.26</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.1</min>
            <max>100.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_velodyne_laser_controller" filename="libgazebo_ros_velodyne_laser.so">
          <topicName>/velodyne_points</topicName>
          <frameName>velodyne_laser</frameName>
          <min_range>0.9</min_range>
          <max_range>130.0</max_range>
          <gaussianNoise>0.005</gaussianNoise>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
